body {
  background-color: #d44;
  color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto; }
  body div {
    margin: 50px;
    padding: 10px;
    background-color: #83a;
    -webkit-border-radius: 10px;
    text-align: center;
    color: #c9ffc4;
    font-family: arial,helvetica,sans-serif, impact; }
    body div:first-letter {
      font-size: 1.7em;
      color: red; }
